
@{
    ViewBag.Title = "NewTrait";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Title of Trait</label>
        <input type="text" class="form-control" name="trait" />
    </div>
    <br />
    <button class="btn btn-primary">Save</button>
</form>

