
@{
    ViewBag.Title = "NewEducation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>School</label>
        <input type="text" class="form-control" name="title" />
    </div>
    <br />
    <div>
        <label>Faculty-Info</label>
        <input type="text" class="form-control" name="subtitle" />
    </div>
    <br />
    <div>
        <label>Department</label>
        <input type="text" class="form-control" name="department" />
    </div>
    <br />
    <div>
        <label>General Point Avarage</label>
        <input type="text" class="form-control" name="gpa" />
    </div>
    <br />
    <button class="btn btn-primary">Save</button>
</form>

